.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: white;
  color: #007bff;
}

.signup-button {
  background-color: white;
  color: #007bff;
  font-weight: bold;
}

.signup-button:hover {
  background-color: #e7e7e7;
  color: #0056b3;
}
